<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>NHL Statistics - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/> -->
    <link rel="icon" href="{{ icon }}">
  </head>
  <body>
    <header>
      <img src="{{ nhl_logo }}" alt="nhl logo" class="logo">
	    <hr>
	    <a href="https://www.facebook.com/NHL"><img class="socials" title="NHL Official Facebook Page" src="{{ facebook }}"></a>
	    <a href="https://twitter.com/nhl"><img class="socials" title="NHL Official X Page" src="{{ x }}"></a>
	    <a href="https://www.instagram.com/nhl"><img class="socials" title="NHL Official Instagram Page" src="{{ instagram }}"></a>
	    <a href="https://www.youtube.com/nhl"><img class="socials" title="NHL Official YouTube Page" src="{{ youtube }}"></a>
	    <h1 class="mainheader">National Hockey League</h1>
    </header>
    <hr>

    <div class="menu">
			<a class="{% if active_page == 'index' %}active{% endif %}" href="{{ url_for('index_page') }}"><b>HOME PAGE</b></a>
			<a href="{{ url_for('game_teams_stats') }}"><b>GAME TEAMS STATS</b></a>
			<a href="{{ url_for('game_skater_stats') }}"><b>GAME SKATER STATS</b></a>
			<a href="{{ url_for('game_goalie_stats') }}"><b>GAME GOALIE STATS</b></a>
			<a class="{% if active_page == 'game_plays' %}active{% endif %}" href="{{ url_for('game_plays') }}"><b>GAME PLAYS</b></a>
		</div>

    <main>
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

  </body>
</html>