<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>NHL Statistics - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename = 'img/05_NHL_Shield.svg.webp')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/> -->
    <link rel="icon" href="{{ icon }}">

  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename = 'img/05_NHL_Shield.svg.webp') }}" alt="nhl logo" class="logo">
	    
	    <a href="https://www.facebook.com/NHL"><img class="socials" title="NHL Official Facebook Page" src="{{ url_for('static', filename = 'img/facebook_logo.png') }}"></a>
	    <a href="https://twitter.com/nhl"><img class="socials" title="NHL Official X Page" src="{{ url_for('static', filename = 'img/x_logo.png') }}"></a>
	    <a href="https://www.instagram.com/nhl"><img class="socials" title="NHL Official Instagram Page" src="{{ url_for('static', filename = 'img/instagram_logo.png') }}"></a>
	    <a href="https://www.youtube.com/nhl"><img class="socials" title="NHL Official YouTube Page" src="{{ url_for('static', filename = 'img/youtube_logo.png') }}"></a>
	    <h1 class="mainheader">       National Hockey League</h1>

   
    </header>

    <div class="menu">
			<a class="{% if active_page == 'index' %}active{% endif %}" href="{{ url_for('index_page') }}"><b>HOME PAGE</b></a>
			<a href="{{ url_for('game_teams_stats') }}"><b>GAME TEAMS STATS</b></a>
			<a href="{{ url_for('game_skater_stats') }}"><b>GAME SKATER STATS</b></a>
			<a href="{{ url_for('game_goalie_stats') }}"><b>GAME GOALIE STATS</b></a>
			<a class="{% if active_page == 'game_plays' %}active{% endif %}" href="{{ url_for('game_plays') }}"><b>GAME PLAYS</b></a>
		</div>

    <hr>

    

    <main>
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>
    <audio controls autoplay>
      <source src="{{ url_for('static', filename='nhlmusic.mp3') }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </body>
</html>