<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>NHL Statistics - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename = 'img/05_NHL_Shield.svg.webp')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/> -->
    <link rel="icon" href="{{ icon }}">

  </head>
  <body>
    <header>
      <div class="row2">
        <div class="column1 header_side">
          <img src="{{ url_for('static', filename = 'img/05_NHL_Shield.svg.webp') }}" alt="nhl logo" class="logo">
        </div>

        <div class="column1 header_middle">
          <h1 class="mainheader">National Hockey League</h1>
        </div>

        <div class="column1 header_side">
          <a href="https://www.facebook.com/NHL"><img class="socials" title="NHL Official Facebook Page" src="{{ url_for('static', filename = 'img/facebook_logo.png') }}"></a>
          <a href="https://twitter.com/nhl"><img class="socials" title="NHL Official X Page" src="{{ url_for('static', filename = 'img/x_logo.png') }}"></a>
          <a href="https://www.instagram.com/nhl"><img class="socials" title="NHL Official Instagram Page" src="{{ url_for('static', filename = 'img/instagram_logo.png') }}"></a>
          <a href="https://www.youtube.com/nhl"><img class="socials" title="NHL Official YouTube Page" src="{{ url_for('static', filename = 'img/youtube_logo.png') }}"></a>
        </div>
      </div>

      
	    
	    
      
    </header>

    <div class="menu">
      <a class="{% if active_page == 'index' %}active{% endif %}" href="{{ url_for('index_page') }}"><b>HOME PAGE</b></a>
      <a href="{{ url_for('game_teams_stats') }}"><b>GAME TEAMS STATS</b></a>
      <a href="{{ url_for('game_skater_stats') }}"><b>GAME SKATER STATS</b></a>
      <a href="{{ url_for('game_goalie_stats') }}"><b>GAME GOALIE STATS</b></a>
      <a class="{% if active_page == 'game_plays' %}active{% endif %}" href="{{ url_for('game_plays') }}"><b>GAME PLAYS</b></a>
    </div>

    <div class="row2">
      <div class="column1 side2">
        <h2 class="main_side_col_header shadow2">About NHL</h2>
        <p>The National Hockey League (NHL) is a professional ice hockey league in North America comprising 32 teams—25
           in the United States and 7 in Canada. The NHL is one of the major professional sports leagues in the United States
           and Canada and is considered to be the top ranked professional ice hockey league in the world.</p>
      </div>

      <div class="column1 middle2">
        <main>
          <section class="section">
            <div class="content">
              {% block content %}{% endblock %}
            </div>
          </section>
        </main>
        <audio controls autoplay>
          <source src="{{ url_for('static', filename='nhlmusic.mp3') }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
  
      <div class="column1 side2">
        <h2 class="main_side_col_header shadow2">Teams</h2>
        <ul>
          <li>Atlantic Division</li>
          <ul>
            <li>Boston Bruins</li>
            <li>Buffalo Sabres</li>
            <li>Detroit Red Wings</li>
            <li>Florida Panthers</li>
            <li>Montreal Canadiens</li>
            <li>Ottawa Senators</li>
            <li>Tampa Bay Lightning</li>
            <li>Toronto Maple Leafs</li>
          </ul>
          <li>Metropolitan Division</li>
          <ul>
            <li>Carolina Hurricanes</li>
            <li>Columbus Blue Jackets</li>
            <li>New Jersey Devils</li>
            <li>New York Islanders</li>
            <li>New York Rangers</li>
            <li>Philadelphia Flyers</li>
            <li>Pittsburgh Penguins</li>
            <li>Washington Capitals</li>
          </ul>
          <li>Central Division</li>
          <ul>
            <li>Arizona Coyoters</li>
            <li>Chicago Blackhawks</li>
            <li>Colorado Avalanche</li>
            <li>Dallas Stars</li>
            <li>Minnesota Wild</li>
            <li>Nashville Predators</li>
            <li>St. Louis Blues</li>
            <li>Winnipeg Jets</li>
          </ul>
          <li>Pacific Division</li>
          <ul>
            <li>Anaheim Ducks</li>
            <li>Calgary Flames</li>
            <li>Edmonton Oilers</li>
            <li>Los Angeles Kings</li>
            <li>San Jose Sharks</li>
            <li>Seattle Kraken</li>
            <li>Vancouver Canucks</li>
            <li>Vegas Golden Knights</li>
          </ul>
          
        </ul>
      </div>
    </div>
    
  </body>
</html>