{% extends "base.html" %}
{% block title %} Create Skater Stats {% endblock %}

{% block content %}

<div class="panel-heading">
   <h2 style="color: white;">Create Skater Stats <a class="pull-right btn btn-success" href="/">Back</a></h2>
</div>

<div class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary">

    <form action="{{ url_for('create_skater_stats') }}" method="POST">
    
       <div class="mb-3 row">
       <label for="game_id" class="col-sm-2 col-form-label text-sm-end">Game ID:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="game_id" id="game_id" value="{{ game_id }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="player_id" class="col-sm-2 col-form-label text-sm-end">Player ID:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="player_id" id="player_id" value="{{ player_id }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="team_id" class="col-sm-2 col-form-label text-sm-end">Team ID:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="team_id" id="team_id" value="{{ team_id }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="timeOnIce" class="col-sm-2 col-form-label text-sm-end">Time On Ice:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="timeOnIce" id="timeOnIce" value="{{ timeOnIce }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="assists" class="col-sm-2 col-form-label text-sm-end">Assists:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="assists" id="assists" value="{{ assists }}">
       </div>
    </div>

    <div class="mb-3 row">
       <label for="goals" class="col-sm-2 col-form-label text-sm-end">Goals:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="goals" id="goals" value="{{ goals }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="shots" class="col-sm-2 col-form-label text-sm-end">Shots:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="shots" id="shots" value="{{ shots }}">
       </div>
    </div>

    <div class="mb-3 row">
       <label for="hits" class="col-sm-2 col-form-label text-sm-end">Hits:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="hits" id="hits" value="{{ hits }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="powerPlayGoals" class="col-sm-2 col-form-label text-sm-end">Power Play Goals:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="powerPlayGoals" id="powerPlayGoals" value="{{ powerPlayGoals }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="powerPlayAssists" class="col-sm-2 col-form-label text-sm-end">Power Play Assists:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="powerPlayAssists" id="powerPlayAssists" value="{{ powerPlayAssists }}">
       </div>
    </div>

    <div class="mb-3 row">
       <label for="penaltyMinutes" class="col-sm-2 col-form-label text-sm-end">Penalty Minutes:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="penaltyMinutes" id="penaltyMinutes" value="{{ penaltyMinutes }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="faceOffWins" class="col-sm-2 col-form-label text-sm-end">Face Off Wins:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="faceOffWins" id="faceOffWins" value="{{ faceOffWins }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="faceoffTaken" class="col-sm-2 col-form-label text-sm-end">Faceoff Taken:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="faceoffTaken" id="faceoffTaken" value="{{ faceoffTaken }}">
       </div>
    </div>

    <div class="mb-3 row">
       <label for="takeaways" class="col-sm-2 col-form-label text-sm-end">Takeaways:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="takeaways" id="takeaways" value="{{ takeaways }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="giveaways" class="col-sm-2 col-form-label text-sm-end">Giveaways:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="giveaways" id="giveaways" value="{{ giveaways }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="shortHandedGoals" class="col-sm-2 col-form-label text-sm-end">Short-Handed Goals:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="shortHandedGoals" id="shortHandedGoals" value="{{ shortHandedGoals }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="shortHandedAssists" class="col-sm-2 col-form-label text-sm-end">Short-Handed Assists:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="shortHandedAssists" id="shortHandedAssists" value="{{ shortHandedAssists }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="blocked" class="col-sm-2 col-form-label text-sm-end">Blocked:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="blocked" id="blocked" value="{{ blocked }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="plusMinus" class="col-sm-2 col-form-label text-sm-end">Plus-Minus:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="plusMinus" id="plusMinus" value="{{ plusMinus }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="evenTimeOnIce" class="col-sm-2 col-form-label text-sm-end">Even Time On Ice:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="evenTimeOnIce" id="evenTimeOnIce" value="{{ evenTimeOnIce }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="shortHandedTimeOnIce" class="col-sm-2 col-form-label text-sm-end">Short-Handed Time On Ice:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="shortHandedTimeOnIce" id="shortHandedTimeOnIce" value="{{ shortHandedTimeOnIce }}">
       </div>
    </div>
    
    <div class="mb-3 row">
       <label for="powerPlayTimeOnIce" class="col-sm-2 col-form-label text-sm-end">Power Play Time On Ice:</label>
       <div class="col-sm-6">
          <input class="input is-hovered" type="text" name="powerPlayTimeOnIce" id="powerPlayTimeOnIce" value="{{ powerPlayTimeOnIce }}">
       </div>
    </div>

    <button type="submit" class="btn btn-outline-primary">Create Skater Stats</button>
    </form>
    </div> 

<script>
        const location_html = window.location.href.split('/')[4]

        console.log(location_html) 
</script>

{% endblock %}
