{% extends "base.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="d-flex justify-content-between">
                <div style="margin-top: 15px;">
                    <form action="{{ url_for('search_teams_stats') }}" method="post" class="input-group mb-3">
                        <input type="text" class="form-control" value="{{ search }}" placeholder="game ID.." id="search" name="search">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </form>
                </div>
                <div>
                    <td class="button-container"> 
                        <a name="create_teams_stats" id="create_teams_stats" class="btn btn-dark right-button" 
                           href="{{ url_for('create_teams_stats') }}" role="button">Create Teams</a>
                    </td>
                </div>
            </div>
            <table class="table table-striped table-hover" id="game_teams_stats">
                <tr>
                    <th>ID</th>
                    <th>Game ID</th>
                    <th>Team ID</th>
                    <th width="60px">HoA</th>
                    <th>Won</th>
                    <th>Settled in</th>
                    <th>Head coach</th>
                    <th>Goals</th>
                    <th>Shots</th>
                    <th>Hits</th>
                    <th>Pim</th>
                    <th>PPO</th>
                    <th>PPG</th>
                    <th>FWP</th>
                    <th>Giveaways</th>
                    <th>Takeaways</th>
                    <th>Blocked</th>
                    <th>Start Rink Side</th>
                    <th width="70px"></th>
                    <th width="70px"></th>
                </tr>
                {% for teams in teams_stats %}
                <tr>
                    <td>{{ teams.id }}</td>
                    <td>{{ teams.game_id }}</td>
                    <td>{{ teams.team_id }}</td>
                    <td>{{ teams.HoA }}</td>
                    <td>{{ teams.won }}</td>
                    <td>{{ teams.settled_in }}</td>
                    <td>{{ teams.head_coach }}</td>
                    <td>{{ teams.goals }}</td>
                    <td>{{ teams.shots }}</td>
                    <td>{{ teams.hits}}</td>
                    <td>{{ teams.pim}}</td>
                    <td>{{ teams.powerPlayOpportunities}}</td>
                    <td>{{ teams.powerPlayGoals}}</td>
                    <td>{{ teams.faceOffWinPercentage}}</td>
                    <td>{{ teams.giveaways}}</td>
                    <td>{{ teams.takeaways}}</td>
                    <td>{{ teams.blocked}}</td>
                    <td>{{ teams.startRinkSide}}</td>
                    <td>
                        <a name="update_teams_stats" id="update_teams_stats" class="btn btn-outline-secondary btn-sm" 
                           href="{{ url_for('update_teams_stats', id=teams.id)  }}" role="button">Update</a>
                    </td>         
                    <td>
                        <form method="post" action="{{ url_for('delete_teams_stats') }}">
                            <input type="hidden" name="id" value="{{ teams.id }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>