<!DOCTYPE html>
<html lang="en">

<head>
<!-- Selin Durmuş, 150220771 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Skater Statistics</title>
    <link rel="stylesheet" href="..\stylesfile\style.css"> 


   
    <div class="image-container">
        <img src="..\img\05_NHL_Shield.svg.webp">
        <p>National Hockey League</p>
    </div>

    <body>
  
    <h1>Game Skater Statistics</h1>
    <p>Skater statistics who play in NHL &#128512;</p>
		<body>
		<header>
			<img class="logo" src="..\img\05_NHL_Shield.svg.webp">
			<hr>
			<h1 class="mainheader">National Hockey League</h1>
		</header>
		<hr>
		<div class="menu">
			<a href="index.html"><b>HOME PAGE</b></a>
			<a href="game_teams_stats.html"><b>GAME TEAMS STATS</b></a>
			<a class="active" href="game_skater_stats.html"><b>GAME SKATER STATS</b></a>
			<a href="game_goalie_stats.html"><b>GAME GOALIE STATS</b></a>
			<a href="game_plays.html"><b>GAME PLAYS</b></a>
		</div>

</body>
<footer>
    <h3><b><i>Database Systems Project</i></b></h3>
</footer>
</html>
