<!-- @author: Farida Mammadova 150180907 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Teams Stats</title>
    <link rel="stylesheet" href="..\stylesfile\style.css">
		<link rel="icon" href="..\img\05_NHL_Shield.svg.webp">
  </head>
  <body>
    <header>
      <img class="logo" src="..\img\05_NHL_Shield.svg.webp" onClick="location.href='index.html'">
			<hr>
			<h1 class="mainheader">National Hockey League</h1>
    </header>
    <hr>
    <div class="menu">
			<a href="index.html"><b>Home Page</b></a>
			<a class="active" href="game_teams_stats.html"><b>Game Teams Stats</b></a>
			<a href="game_skater_stats.html"><b>Game Skater Stats</b></a>
			<a href="game_goalie_stats.html"><b>Game Goalie Stats</b></a>
			<a href="game_plays.html"><b>Game Plays</b></a>
		</div>
    <div>
      <h2 class="pageheader">Game Team Stats</h2>
    </div>
  </body>
</html>