{% extends "base.html" %}
{% block title %} Goalie Stats {% endblock %}

{% block content %}

<!-- Gülşah Yorulmaz 150200093 -->

<!-- Header -->
<h2 class="shadow2">Game Plays</h2>

<!-- Table for Game Plays -->
<table class="tg">
	<thead>
		<tr>
			<td class="tg-0lax">Game Date</td>
			<td class="tg-0lax">Team 1</td>
			<td class="tg-0lax">Team 2</td>
			<td class="tg-0lax">Game Schedule Time</td>
			<td class="tg-0lax">Game Finish Time</td>
			<td class="tg-0lax">Number of Goals</td>
			<td class="tg-0lax">Number of Face-offs</td>
			<td class="tg-0lax">Number of Shots</td>
			<td class="tg-0lax">Number of Missed Shots</td>
			<td class="tg-0lax">Number of Takeaways</td
		</tr>
	</thead>
</table>


{% endblock %}