<!DOCTYPE html>
<html lang="en">

<head>
<!-- Selin Durmuş, 150220771 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 25</title>
    <link rel="stylesheet" href="..\stylesfile\style.css"> 
<body>
  
    <h1>Game Skater Statistics</h1>
    <p>Skater statistics who play in NHL &#128512;</p>

   
    <div class="image-container">
        <img src="..\img\05_NHL_Shield.svg.webp">
        <p>National Hockey League</p>
    </div>

    <a href="index.html" style="background-color: #FF5733; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;"><b>Go back to Home Page</b></a>

</body>
<footer>
    <h3><b><i>Database Systems Project</i></b></h3>
</footer>
</html>
