{% extends "base.html" %}
<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
{% block title %} Game Plays {% endblock %}
{% block content %}

<!-- Gülşah Yorulmaz 150200093 -->

<!-- Header -->
<h2 class="shadow2">Game Plays</h2>

<!-- Table for Game Plays -->

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="d-flex justify-content-between">
                <div style="margin-top: 15px;">
                    <form action="{{ url_for('search_game_plays') }}" method="post" class="input-group mb-3">
                        <input type="text" class="form-control" value="{{ search }}" placeholder="Game ID.." id="search" name="search">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </form>
                </div>
                <div>
                    <td class="button-container"> 
                        <a name="create_game_plays" id="create_game_plays" class="btn btn-dark right-button" 
                           href="{{ url_for('create_game_plays') }}" role="button">Create Game Plays</a>
                    </td>
                </div>
            </div>
            <table class="table table-striped table-hover" id="game_plays">
                <tr>
                    <th>Play ID</th>
                    <th>Game ID</th>
                    <th>Team 1</th>
                    <th>Team 2</th>
                    <th>Date Time</th>
                    <th>Event</th>
                    <!-- <th>Game Schedule Time</th>
                    <th>Game Finish Time</th>
                    <th>Number of Goals</th>
                    <th>Number of Face-offs</th>
                    <th>Number of Shots</th>
                    <th>Number of Missed Shots</th>
                    <th>Number of Takeaways</th> -->
                    <th colspan="2">Operations</th>
                </tr>
                {% for game_play in game_plays %}
                <tr>
                    <td>{{ game_play.play_id }}</td>
                    <td>{{ game_play.game_id }}</td>
                    <td>{{ game_play.team1 }}</td>
                    <td>{{ game_play.team2 }}</td>
                    <td>{{ game_play.date_time }}</td>
                    <td>{{ game_play.event }}</td>
                    <!-- <td>{{ game_play.game_schedule_time }}</td>
                    <td>{{ game_play.game_finish_time }}</td>
                    <td>{{ game_play.number_of_goals }}</td>
                    <td>{{ game_play.number_of_face_offs }}</td>
                    <td>{{ game_play.number_of_shots }}</td>
                    <td>{{ game_play.number_of_missed_shots }}</td>
                    <td>{{ game_play.number_of_takeaways}}</td> -->
                    <td>
                        <a  href="{{ url_for('update_game_plays', play_id = game_play.play_id) }}">
                        <button class="btn btn-outline-primary">Update</button>
                        </a>
                    </td>
                    <td>
                        <form method="post" action="{{ url_for('delete_game_plays') }}">
                            <input type="hidden" name="play_id" value="{{ game_play.play_id }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
