<!-- Gülşah Yorulmaz 150200093 -->

<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>NHL | Game Plays</title>
		<link rel="stylesheet" href="..\stylesfile\style.css">
		<link rel="icon" href="..\img\05_NHL_Shield.svg.webp">
	</head>
	
	<body>
		<header>
			<img class="logo" src="..\img\05_NHL_Shield.svg.webp">
			<hr>
			<a href="https://www.facebook.com/NHL"><img class="socials" title="NHL Official Facebook Page" src="..\img\facebook_logo.png"></a>
			<a href="https://twitter.com/nhl"><img class="socials" title="NHL Official X Page" src="..\img\x_logo.png"></a>
			<a href="https://www.instagram.com/nhl"><img class="socials" title="NHL Official Instagram Page" src="..\img\instagram_logo.png"></a>
			<a href="https://www.youtube.com/nhl"><img class="socials" title="NHL Official YouTube Page" src="..\img\youtube_logo.png"></a>
			<h1 class="mainheader">National Hockey League</h1>
		</header>
		<hr>
		
		<!-- Navbar -->
		<div class="menu">
			<a href="index.html"><b>HOME PAGE</b></a>
			<a href="game_teams_stats.html"><b>GAME TEAMS STATS</b></a>
			<a href="game_skater_stats.html"><b>GAME SKATER STATS</b></a>
			<a href="game_goalie_stats.html"><b>GAME GOALIE STATS</b></a>
			<a class="active" href="game_plays.html"><b>GAME PLAYS</b></a>
		</div>
		
		<!-- Header -->
		<h2 class="shadow">Game Plays</h2>
		
		<!-- Table for Game Plays -->
		<table class="tg">
			<thead>
				<tr>
					<td class="tg-0lax">Game Date</td>
					<td class="tg-0lax">Team 1</td>
					<td class="tg-0lax">Team 2</td>
					<td class="tg-0lax">Game Schedule Time</td>
					<td class="tg-0lax">Game Finish Time</td>
					<td class="tg-0lax">Number of Goals</td>
					<td class="tg-0lax">Number of Face-offs</td>
					<td class="tg-0lax">Number of Shots</td>
					<td class="tg-0lax">Number of Missed Shots</td>
					<td class="tg-0lax">Number of Takeaways</td
				</tr>
			</thead>
		</table>
		
		<!-- Footer -->
		<footer>
			<h3><b><i>Database Systems Project</i></b></h3>
		</footer>
	</body>
	
</html>