{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
<div class="row align-items-start">
    
    
    
    <div class="col-md-9" style="margin-top: 10px;">
        
        
        <p>This website was created to provide information about the National Hockey League (NHL).</p>

        
        <!-- Image Carousel -->
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="margin-bottom: 30px;">
                {% for image in carousel_images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="d-flex justify-content-center align-items-center carousel-image-container">
                            <img src="{{ image }}" class="d-block fixed-width-image" alt="Image">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <div class="info-container">
                <p class="info">
                    In Memory of Adam Johnson                
                </p>
            </div>
        </div>
        <div class="biography-container">
            <div class="biography">
                <p>
                    Adam Robert Johnson (June 22, 1994 – October 28, 2023) was an American professional ice hockey forward. He played 13 games in the National Hockey League with the Pittsburgh Penguins during the 2018–19 and 2019–20 seasons. He also played in Europe with the Malmö Redhawks, Augsburger Panther, and Nottingham Panthers. Johnson died after his neck was cut by an opposing player's skate blade in an on-ice collision, causing him to bleed out.
                </p>
                <p>
                    For more NHL news, go to <a href="https://www.nhl.com/" target="_blank" rel="noopener noreferrer">NHL Official Website</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 right-side-col">
        <div style="width: 100px;">
            <audio controls autoplay>
                <source src="{{ url_for('static', filename='nhlmusic.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="card-size-custom">
            <div class=" card text-bg-dark">    
            <h2 class="card-header">About NHL</h2>
            <p class="card-text">The National Hockey League (NHL) is a professional ice hockey league in North America comprising 32 teams—25
                in the United States and 7 in Canada. The NHL is one of the major professional sports leagues in the United States
                and Canada and is considered to be the top ranked professional ice hockey league in the world.</p>
        
            </div>
        </div>
    
    <div class="card text-bg-dark card-size-custom" style="margin-top: 245px;">
        <h2 class="card-header">Teams</h2>
        <ul class="teams-list">
            <li class="division card-text">Atlantic Division
                <ul class="teams" style="background-color: rgb(142, 142, 143);">
                    <li>Boston Bruins</li>
                    <li>Buffalo Sabres</li>
                    <li>Detroit Red Wings</li>
                    <li>Florida Panthers</li>
                    <li>Montreal Canadiens</li>
                    <li>Ottawa Senators</li>
                    <li>Tampa Bay Lightning</li>
                    <li>Toronto Maple Leafs</li>
                </ul>
            </li>
            <li class="division card-text">Metropolitan Division
                <ul class="teams" style="background-color: rgb(142, 142, 143);">
                    <li>Carolina Hurricanes</li>
                    <li>Columbus Blue Jackets</li>
                    <li>New Jersey Devils</li>
                    <li>New York Islanders</li>
                    <li>New York Rangers</li>
                    <li>Philadelphia Flyers</li>
                    <li>Pittsburgh Penguins</li>
                    <li>Washington Capitals</li>
                </ul>
            </li>
            <li class="division card-text">Central Division
                <ul class="teams" style="background-color: rgb(142, 142, 143);">
                    <li>Arizona Coyotes</li>
                    <li>Chicago Blackhawks</li>
                    <li>Colorado Avalanche</li>
                    <li>Dallas Stars</li>
                    <li>Minnesota Wild</li>
                    <li>Nashville Predators</li>
                    <li>St. Louis Blues</li>
                    <li>Winnipeg Jets</li>
                </ul>
            </li>
            <li class="division card-text">Pacific Division
                <ul class="teams" style="background-color: rgb(142, 142, 143);">
                    <li>Anaheim Ducks</li>
                    <li>Calgary Flames</li>
                    <li>Edmonton Oilers</li>
                    <li>Los Angeles Kings</li>
                    <li>San Jose Sharks</li>
                    <li>Seattle Kraken</li>
                    <li>Vancouver Canucks</li>
                    <li>Vegas Golden Knights</li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</div>
</div>

<script>
    // JavaScript to toggle visibility of teams when division is clicked
    document.addEventListener('DOMContentLoaded', function () {
      var divisions = document.querySelectorAll('.division');
  
      divisions.forEach(function (division) {
        division.addEventListener('click', function () {
          var teams = this.querySelector('.teams');
          teams.style.display = teams.style.display === 'none' ? 'block' : 'none';
        });
      });
    });
  </script>

{% endblock %}

