{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<header>
	<img class="logo" src="..\img\05_NHL_Shield.svg.webp">
	<hr>
	<a href="https://www.facebook.com/NHL"><img class="socials" title="NHL Official Facebook Page" src="..\img\facebook_logo.png"></a>
	<a href="https://twitter.com/nhl"><img class="socials" title="NHL Official X Page" src="..\img\x_logo.png"></a>
	<a href="https://www.instagram.com/nhl"><img class="socials" title="NHL Official Instagram Page" src="..\img\instagram_logo.png"></a>
	<a href="https://www.youtube.com/nhl"><img class="socials" title="NHL Official YouTube Page" src="..\img\youtube_logo.png"></a>
	<h1 class="mainheader">National Hockey League</h1>
</header>
<hr>

<!-- Header -->
<h2 class="shadow">Home Page</h2>

<p>This website was created to provide information about the National Hockey League (NHL).</p>

<!-- Footer -->
<footer>
	<h3><b><i>Database Systems Project</i></b></h3>
</footer>
{% endblock %}

