{% if goalie.id >= 0 and (goalie.id-1) < goalie_stats|length %}
<dialog id="dialog_{{ goalie.id }}" class="dialog-style">
        <div class="modal-dialog">
          <div class="modal-content">

            <h2 class="goalie-info-header">
                <div data-bs-theme="dark" class="d-flex justify-content-around align-items-center">
                    <h2 class="modal-title">Update Goalie number {{goalie.id}}</h2>
                    <button id="closeDialog_{{ goalie.id }}" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </h2>
    <form action="{{ url_for('update_goalie', id=goalie.id) }}" method="POST" class="form-style">

        <div class="input-group mb-3">
        <label for="game_id" class="input-group-text">Game ID:</label>
        <div class="col-6">
           <input class="form-control" type="text" name="game_id" id="game_id" value="{{ goalie_stats[goalie.id-1].game_id }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="player_id" class="input-group-text">Player ID:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="player_id" id="player_id" value="{{ goalie_stats[goalie.id-1].player_id }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="team_id" class="input-group-text">Team ID:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="team_id" id="team_id" value="{{ goalie_stats[goalie.id-1].team_id }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="timeOnIce" class="input-group-text">Time On Ice:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="timeOnIce" id="timeOnIce" value="{{ goalie_stats[goalie.id-1].timeOnIce }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="shots" class="input-group-text">Shots:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="shots" id="shots" value="{{ goalie_stats[goalie.id-1].shots }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="saves" class="input-group-text">Saves:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="saves" id="saves" value="{{ goalie_stats[goalie.id-1].saves }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="powerPlaySaves" class="input-group-text">Power Play Saves:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="powerPlaySaves" id="powerPlaySaves" value="{{ goalie_stats[goalie.id-1].powerPlaySaves }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="evenSaves" class="input-group-text">Even Saves:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="evenSaves" id="evenSaves" value="{{ goalie_stats[goalie.id-1].evenSaves }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="evenShotsAgainst" class="input-group-text">Even Shots Against:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="evenShotsAgainst" id="evenShotsAgainsy" value="{{ goalie_stats[goalie.id-1].evenShotsAgainst }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="powerPlayShotsAgainst" class="input-group-text">Power Play Shots Against:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="powerPlayShotsAgainst" id="powerPlayShotsAgainst" value="{{ goalie_stats[goalie.id-1].powerPlayShotsAgainst }}">
        </div>
     </div>
     <div class="modal-footer">
        <button type="submit" class="btn btn-dark">Update Goalie</button>
     </div>
    </form>
</div>
</div>
    
  </dialog>

  
  <p>
    <button class="btn btn-outline-secondary btn-sm" onclick="openDialog('{{ goalie.id }}')">Update</button>
  </p>
  <p id="dialogStatus"></p>

  {% else %}
        <p>Error: Invalid goalie ID</p>
    {% endif %}