{% set update_goalie = get_goalie_stats_by_id(goalie.id)%}
<dialog id="dialog_{{ goalie.id }}" class="dialog-style">
        <div class="modal-dialog">
          <div class="modal-content">

            <h2 class="goalie-info-header">
                <div data-bs-theme="dark" class="d-flex justify-content-around align-items-center">
                    <h2 class="modal-title">Update Goalie number {{goalie.id}}</h2>
                    <button id="closeDialog_{{ goalie.id }}" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </h2>
    <form action="{{ url_for('update_goalie', id=goalie.id) }}" method="POST" class="form-style">

        <div class="input-group mb-3">
        <label for="game_id" class="input-group-text">Game ID:</label>
        <div class="col-6">
         <label for="disabledTextInput" class="form-control">{{ update_goalie[0].game_id }}</label>
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="player_id" class="input-group-text">Player ID:</label>
        <div class="col-sm-6">
            <label for="disabledTextInput" class="form-control">{{ update_goalie[0].player_id }}</label>
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="team_id" class="input-group-text">Team ID:</label>
        <div class="col-sm-6">
            <label for="disabledTextInput" class="form-control">{{ update_goalie[0].team_id }}</label>
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="timeOnIce" class="input-group-text">Time On Ice:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="timeOnIce" id="timeOnIce" value="{{ update_goalie[0].timeOnIce }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="shots" class="input-group-text">Shots:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="shots" id="shots" value="{{ update_goalie[0].shots }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="saves" class="input-group-text">Saves:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="saves" id="saves" value="{{ update_goalie[0].saves }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="powerPlaySaves" class="input-group-text">Power Play Saves:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="powerPlaySaves" id="powerPlaySaves" value="{{ update_goalie[0].powerPlaySaves }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="evenSaves" class="input-group-text">Even Saves:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="evenSaves" id="evenSaves" value="{{ update_goalie[0].evenSaves }}">
        </div>
     </div>
     
     <div class="input-group mb-3">
        <label for="evenShotsAgainst" class="input-group-text">Even Shots Against:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="evenShotsAgainst" id="evenShotsAgainsy" value="{{ update_goalie[0].evenShotsAgainst }}">
        </div>
     </div>

     <div class="input-group mb-3">
        <label for="powerPlayShotsAgainst" class="input-group-text">Power Play Shots Against:</label>
        <div class="col-sm-6">
           <input class="form-control" type="text" name="powerPlayShotsAgainst" id="powerPlayShotsAgainst" value="{{ update_goalie[0].powerPlayShotsAgainst }}">
        </div>
     </div>
     <div class="modal-footer">
        <button type="submit" class="btn btn-dark">Update Goalie</button>
     </div>
    </form>
</div>
</div>
    
  </dialog>

  
  <p>
    <button class="btn btn-outline-secondary btn-sm" onclick="openDialog('{{ goalie.id }}')">Update</button>
  </p>
  <p id="dialogStatus"></p>

